:root {
  --white: #f8f9fa;
  --black: #343a40;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.icon-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  opacity: 0;
}
.palette:hover .icon-container {
  opacity: 1;
}
.locked {
  opacity: 1;
}
.icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.icon:active {
  transform: scale(0.9);
}

.palette-container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
}

.palette {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5rem 0;
}

.palette-info {
  margin-top: 10rem;
  text-align: center;
}

.palette-name {
  text-transform: uppercase;
  font-size: clamp(0.5rem, 0.0882rem + 1.8824vw, 1.5rem);
}
